.buttonIngresar{
  position: relative;
  align-content: center;
  color: #19e25c;
  text-emphasis-color: #020101;
}
.imgLogo{
  display: block;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

.dataEntry{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.contMain{
  background-color: #19e25c;
  margin-left: auto;
  margin-right: auto;
}

.numberIP{
  display: flex;
  flex: 1 100%;

}